*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    box-sizing: border-box;

}

.container{
    width: 1170px;
    max-width: 1170px;
    margin:0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.col{
    padding-left: 4px;
    padding-right: 4px;
}
.c-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.c-4{
    flex: 0 0 33.3333333333333%;
    max-width: 33.3333333333333%;
}
.c-2{
    flex: 0 0 16.6666666666667%;
    max-width: 16.6666666666667%;
}
.c-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.c-12{
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width:1201px){
    .container{
        width: 1170px;
        max-width: 1170px ;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .container{
        width: 970px;
        max-width: 970px ;
    }
}
@media (max-width:991px) and (min-width:769px){
    .container{
        width: 750px ;
        max-width: 750px;
    }
}
@media (max-width:768px) and (min-width:481px){
    .container{
        width: 450px ;
        max-width: 450px ;
    }
}
@media (max-width:480px){
    .row{
        margin: 0;
    }
    .container{
        width: 300px ;
        max-width: 300px ;
    }
}